.navbar-lewagon {
  align-items: center;
  display: flex;
  width: 100vw;
  height: 56px;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background: #F7F7F7;
}

.leftside {
  display: flex;
  justify-content: space-between;
}
